.container {
    display: flex;
}

.column {
    background: wheat;
    margin: 5px;
    min-width: 300px;
}

.header{
    text-align: center;
}

.items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-item {
    width: 80%;
    min-height: 25px;
    text-align: center;
    border: 1px solid #999;
    padding: 10px;
    margin-bottom: 7px;
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
    cursor: grabbing;
}


.dragged {
    list-style-type: none;
    width: 240px;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.input {
    height: 50px;
    margin-bottom: 10px;
}

.select{
    border: 2px solid #999; 
    border-radius: 3px; 
    box-shadow: 0 0 5px #999; 
    color: #111; 
    font-size: 15px; 
    padding: 10px; 
    width: 200px; 
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color:aliceblue;
    background: green;
    cursor: pointer;
    border-radius: 10px;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0px;
    width: 27px;
    height: 3px;
    background: #e62f57;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}